<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804888634077-tmsqr1oq4fsea5ug6h0ija2jfsokj3h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804888634077-tmsqr1oq4fsea5ug6h0ija2jfsokj3h0</string>
	<key>API_KEY</key>
	<string>AIzaSyB6wSff2mnS20YlthspPPd3p0voAmoLxOU</string>
	<key>GCM_SENDER_ID</key>
	<string>804888634077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhuntleyinc.Me</string>
	<key>PROJECT_ID</key>
	<string>my-app---me</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app---me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804888634077:ios:44a97efa0c528f7ec87134</string>
</dict>
</plist>